/*全局样式*/
* {
    padding: 0;
    margin: 0;
}

div, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, img, ol, ul, li, table, th, td, p, span, a {
    border: 0;
}

img, input {
    border: none;
    vertical-align: middle;
}

body {
    font-family: 微软雅黑,Tahoma,Arial,Helvetica,"宋体";
    font-size: 12px;
    text-align: center;
    background: #FFF;
    color: #000;
}

html {
    overflow-y: scroll;
}

ul, ol {
    list-style-type: none;
}

th, td, input {
    font-size: 13px;
}

h3 {
    font-size: 14px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-color: transparent;
}

select {
    border-width: 1px;
    _zoom: 1;
    border-style: solid;
    padding-top: 2px;
    font-size: 12px;
}

.clear {
    clear: both;
    font-size: 1px;
    height: 0;
    visibility: hidden;
    line-height: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

a:link, a:visited {
    text-decoration: none;
    color: #333;
}

a:hover, a:active {
    text-decoration: underline;
    color: #f60;
}

/*顶部预留框架*/
div#top {
    height: 20px;
    width: 100%;
}
/*时间框架*/
p#timeShow {
    height: 100%;
    text-align: right;
    font-size:15px;
}
/*课表框架*/
div#curriculum_div {
    height: 300px;
    width: 100%;
}
/*表格内部布局*/
table#curriculum {
    text-align: center;
    border-collapse: collapse;
    height: 100%;
    margin: 0 auto;
    font-size:13px;
}
/*表格边框*/
table#curriculum td {
    border: 1px solid #0094ff;
    font-size: 16px;
    /*text-shadow:-4px 4px 3px #999;*/
}
/*表格宽度*/
table#curriculum td#Festivals {
    width: 3%;
}

table#curriculum td#time {
    width: 10.2%;
}

table#curriculum td#Monday, td#Tuesday, td#Wednesday, td#Thursday, td#Friday, td#Saturday, td#Sunday {
    width: 12.4%;
}
/*表格配色*/
tr.header, tr.time, td.time {
    background-color: #FFFFCC;
}

td.class {
    position: relative;
    background-color: #CCFFFF;
    transition:background-color .5s;
    -moz-transition:background-color .5s; /* Firefox 4 */
    -webkit-transition:background-color .5s; /* Safari and Chrome */
    -o-transition:background-color .5s; /* Opera */
}

td.class:hover {
    background-color: #FFCCCC;
}

div.calendar {
    width: 100%;
    height: 100%;
    font-size: 200%;
    position: absolute;
    top: 0px;
    opacity: 0.3;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

div.lesson {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

div.calendar > p {
    margin: auto;
    height:100%;
}
